body{
    background-image: url('Background.png');
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
}

.topnav {
    overflow: hidden;
    background-color: rgba(51, 51, 51, 0);
    font-family: 'Montserrat',sans serif;
  }
  
  .topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: rgba(201, 48, 48, 0.863);
    color: white;
  }
  
  .topnav .icon {
    display: none;
  }

  .container{
    width: 80vw;
    margin: auto;
    margin-top: 40px;
}

img {
    margin-left: auto;
    width: 100%;
}

#contact-bubble {
 background-color: #ffffff3b;
}
#contact-bubble h1{
  color: white;
  text-align: center;
  margin: 6px;
  font-family: 'Montserrat',sans serif;
  font-size: 20px;
}

#contact-bubble h2{
  color: white;
  text-align: center;
}

#contact-bubble p{
  color: white;
  text-align: center;
  font-family: 'Montserrat',sans serif;
  font-size: 14px;
}


  @media screen and (max-width: 600px) {
    .topnav a:not(:first-child) {display: none;}
    .topnav a.icon {
      float: right;
      display: block;
    }
  }
  
  @media screen and (max-width: 600px) {
    .topnav.responsive {position: relative;}
    .topnav.responsive .icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    .topnav.responsive a {
      float: none;
      display: block;
      text-align: left;
    }

    .container{
      width: 100vw;
      margin: auto;
    }
  }

